@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');
body {
    font-family: 'Poppins', sans-serif;
}
.background-gradient {
    background-image: linear-gradient(90deg, #2937f0, #9f1ae2);
}
.text-blue {
    color: blue;
}
.stop-writing {
    background-image: url('../img/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
}